<% include partials/header %>

<h3>Add Todo</h3>

<form method="POST" action="/todos/add">
    <div>
        <label>Todo title: </label>
        <input type="text" name="title" placeholder="Add title">
    </div>
    <div>
        <label>Todo description: </label>
        <textarea name="description" placeholder="Add description"></textarea>
    </div>
    
    <button type="submit">Submit</button>
</form>

<h3>All Todos</h3>

<ul>
    <% docs.map(function(doc) { %>    
    <li>Title: <%= doc.title %> -- Desc: <%= doc.description%> <a href="/todos/<%= doc._id %>">Show</a></li>
    <% }); %>
</ul>

<% include partials/footer %>

